nav section{
    width: 100%;
    height: 100%;
    // justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    // overflow: hidden;
    height: 40px;
    padding-top: 10px;
    // text-align: center;
}

ul {
    padding-left: 0px;
    list-style: none;
    height: 17px;
    overflow: hidden;
    // color: #324ffd;
    color: #ff8602;
}

ul li {
    position: relative;
    padding-left: 10px;
    animation: slide 48s steps(4) infinite;
    text-align: start;
}

@keyframes slide {
    0% {
        top: 0px;
    }
    100% {
        top: -75px;
    }
}

ul li::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    border-left: 2px solid #ff8602;
    animation: typing 12s steps(23) infinite;
}

@keyframes typing {
    20%, 
    80% {
        left: calc(100% + 10px);
    }
    100%{
        left: 0;
    }
}
