<!-- <p>footer works!</p> -->

<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom p-1 container-fluid">
        <section>
          <span class="navbar-text">{{text}}</span>
          <ul>
                <li *ngFor="let msg of msgs"><span class="text-info">{{msg}}</span></li>
            </ul>    
        </section>
</nav>  -->

<nav class="bg-dark text-light fixed-bottom container-fluid">
    <section>
        <p>{{text}}</p>
        <ul>
            <li *ngFor="let msg of msgs"><span>{{msg}}</span></li>
            <!-- <li><span>using TMDB and Angular</span></li>
            <li><span>to have fun with movies</span></li>
            <li><span>in Laboratoria Bootcamp</span></li> -->
        </ul>    
    </section>
</nav>
