<!-- <p>home works!</p> -->
<!-- <section class="login py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <img src="../assets/movie-time.jpg" class="img-fluid" alt="Image with pop corns in black background">
      </div>
      <div class="col-lg-7 col-md-7 col-sm-12 col-12 text-center py-5">
        <h1 class="welcome-title">Welcome Back</h1>
        
        <form>
          <div class="form-row pt-3">
            <div class="offset-1 col-lg-10">
              <input type="text" class="inp my-3 px-3" placeholder="User Name">
            </div>
          </div>

          <div class="form-row pt-3">
            <div class="offset-1 col-lg-10">
              <input type="password" class="inp px-3" placeholder="Password">
            </div>
          </div>

          <div class="form-row py-3">
            <div class="offset-1 col-lg-10">
              <button class="btn1" >Sign Up</button>
            </div>
          </div>

        </form>

        <p>Or Login With</p>
        <span><i class="fab fa-google"></i></span>
        <span><i class="fab fa-facebook"></i></span>
        
      </div>
    </div>
  </div>
</section>

<div class="content" role="main">

  <span>{{ title }} app is running!</span>

</div> -->

<h1 class="text-center mb-5">Movie Time!</h1>

<section class="container bg-light rounded">
    <aside class="col-lg-5 aside-img">
      <img src="../assets/movie-time.jpg" class="img-fluid rounded-start" alt="Image with pop corns in black background">
    </aside>
  
    <aside class="col-lg-7 col-md-7 col-sm-12 col-12 text-center py-5">
        <h1 style="font-family: amita;">Welcome Back</h1>
                
        <p>One of the most confortable space to look for your favorite movies or series.</p>

        <p class="lead">What would you like to search first?</p>
        <div>
            <!-- <button *ngFor="let type of typeFilms; let index = index" [routerLink]="[routerTypes[index]]" routerLinkActive="router-link-active" [type]="index" type="button" class="btn btn-dark" >{{typeFilms[index]}}</button> -->
            <button *ngFor="let type of typeFilms; let index = index" (click)="goRoute(type)" routerLinkActive="router-link-active"  type="button" class="btn btn-dark" >{{type.text}}</button>
        </div>
    </aside>
  </section>
  
  