nav{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // justify-self: center;
    // display: grid;
    // grid-template-rows: 1fr;
    // grid-template-columns: 1fr 4fr 1fr;
}

nav > * {
    margin: 10px;
}

.selected {
    background-color: #0d6efd;
    color: white;
}

.toast{
    position: absolute;
    bottom: 40px;
    right: 20px;
    z-index: 2;
}

// button {
//     border: 0;
//     background-image: linear-gradient(
//         150deg,
//         #9500ff,
//         #09f,
//         #00DDFF
//     );
//     border-radius: 8px;
//     color: #fff;
//     display: flex;
//     font-size: 12px;
//     padding: 4px;
//     cursor: pointer;
//     transition: .3s;
//     margin: 4px;
//     width: 30px;
//     height: 30px;
// }

// button span{
//     background-color: #111;
//     padding: 3px 3px;
//     border-radius: 6px;
//     transition: .3s;
//     height: 100%;
//     width: 100%;
//     text-align: center;
// }

// button:hover span{
//     background: none;
// }

// button:active {
//     transform: scale(0.9);
// }

// .selected span{
//     // transform: scale(1.1);
//     background-color: transparent;
// }