<!-- <p>pagination works!</p> -->
<nav>
    <!-- Buttons to go to the previous page -->
    <section class="btn-group">
        <button type="button" class="btn btn-dark" (click)="onPageClicked(0)" ><span> << </span></button>
        <button type="button" class="btn btn-dark" (click)="onPreviousClicked()"><span> < </span></button>
    </section>

    <!-- Buttons to navigate on number of pages -->
    <section class="btn-group">
        <button type="button" class="btn btn-secondary"
            (click)="onPageClicked(i)"
            *ngFor="let i of pages" 
            [ngClass]="{'selected': i === selection}" >
            <span>{{i}}</span>
        </button>
    </section>

    <!-- Buttons to go to the next page -->
    <section class="btn-group">
        <button type="button" class="btn btn-dark" (click)="onNextClicked()"><span> > </span></button>
        <button type="button" class="btn btn-dark" (click)="onPageClicked(numOfPages)" ><span> >> </span></button>  
    </section>
</nav>


