figure{
    width: var(--width-poster);
    height: var(--height-poster);
    margin: 5px;
    border-radius: 13px;
    background-color: black;
    // background: url('https://image.tmdb.org/t/p/w154/f6l9rghSHORkWLurUGJhaKAiyjY.jpg') no-repeat center;
    background-size: var(--width-poster) var(--height-poster);
    border: 2px solid yellow;
    // box-shadow: 10px 10px 2px 0px solid grey;
    cursor: pointer;
    transition: all .3s ease;
    position: relative;
}

figure::before, figure::after {
    content:"2023";
    position:absolute;
    top: 8px;
    left: 1px;
    display: block;
    font-family: monospace;
    font-size: 12px;
    text-align: center;
    font-weight: 700;
    color: black;
    background: yellow;
    height: 13px;
    width: fit-content;
    transform: rotate(-30deg);
}

figcaption{
    position: absolute;
    bottom: 0;
    color: red;
    font-weight: bold;
    font-size: 20px;
}

figure:hover{
    transform: scale(1.1);
    z-index: 1;
    border: 2px solid blue;
    border: 5px 5px 2px 2px grey;
}
