section{
    padding: 10px;
    position: absolute;
    top: calc(3*var(--height-lamp));
    justify-self: center;
    // top: calc(var(--long-cable) + var(--height-lamp) + 100px);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    max-width: 60vw;
    width: 100%;
    // transform: translate(20vw, 0);
    z-index: 1;
    justify-self: center;
}

section > * {
    width: 130px;
    height: 30px;
    font-size: 15px;
    border-radius: 20px;
    padding-left: 10px;
    background: rgba(255, 255, 255, .3);
    backdrop-filter: blur(5px);
    // border: 1.5px solid rgba(209, 213, 219, 0.3);
    // border: 1.5px solid white;
    box-shadow: 5px 5px 4px 0 lightgoldenrodyellow;
    border: 2px solid grey;
    text-align: center;
    cursor: pointer;
}

section input{
    // justify-self: end;
    transform: translate(0px, 0px);
}

section select:first-of-type{
    // justify-self: end;
    transform: translate(0px, 0px);
}

section select:last-child{
    // justify-self: end;
    transform: translate(0px, 0px);
}
