*{
    background-color: rebeccapurple;
    background-color: transparent;
    position: absolute;
    top: var(--height-navbar);
    min-width: fit-content;
    max-width: 900px;
    min-height: calc(100vh - var(--height-navbar) - var(--height-footer));
    display: flex;
    justify-content: center;
}