footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--height-footer);
    display: flex;
    align-items: center;
    background-color: var(--color-contrast);
    color: var(--color-bg);
    font-weight: 600;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: center;
}

footer > *{
    background-color: var(--color-contrast);
}
