*{
    --font-size: 12px;
    background-color: var(--color-contrast);
    font-family: monospace;
    font-size: var(--font-size);
    line-height: calc(var(--font-size) + 2px);
    letter-spacing: 1px;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--height-footer);
    display: flex;
    align-items: center;
    background-color: var(--color-contrast);
    color: var(--color-bg);
    padding-left: 40px;
    padding-right: 40px;
    justify-content: center;
}

footer section{
    display: flex;
    overflow: hidden;
}

ul {
    padding-left: 10px;
    list-style: none;
    height: var(--font-size);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

ul li {
    color: green;
    color: yellow;
    position: relative;
    animation: slide 24s steps(4) 2sinfinite;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: slide 48s steps(4) infinite;
}

@keyframes slide {
    0% {
        top: 0px;
    }
    100% {
        top: -55px;
    }
}

ul li::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-contrast);
    border-left: 2px solid currentColor;
    animation: typing 12s steps(23) infinite;
}

@keyframes typing {
    20%, 
    80% {
        left: calc(100% + 10px);
    }
    100%{
        left: 0;
    }
}
