<nav class="bg-dark text-light fixed-bottom container-fluid">
    <section class="d-flex justify-content-center align-items-center">
        <p>{{text}}</p>
        <ul class="text-warning">
            <!-- <li *ngFor="let msg of msgs"><span>{{msg}}</span></li> -->
            <li><span>by Carolina Pulido 👩🏻‍💻</span></li>
            <!-- <li><span>using TMDB and Angular</span></li>
            <li><span>to have fun with movies</span></li>
            <li><span>in Laboratoria Bootcamp</span></li> -->
        </ul>    
    </section>
</nav>
