<!-- <section>
    <button class="btn btn-danger">Adiós</button>
</section> -->

<nav aria-label="..." class="mt-2">
    <ul class="pagination pagination-sm justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="/movies">&laquo;</a>
      </li>

      <li class="page-item active">
        <a class="page-link" href="#">1</a>
        <!-- <span class="sr-only sr-only-focusable">(current)</span> -->
      </li>
      <li class="page-item">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">4</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">5</a>
      </li>

      <li class="page-item">
        <a class="page-link" href="/series">&raquo;</a>
      </li>
    </ul>
  </nav>