<!-- <p>page-not-found works!</p> -->
<app-navbar></app-navbar>

<section class="d-flex align-items-center justify-content-center vh-100 bg-secondary">
  <img class="me-5" src="../../../assets/end.gif" alt="gif that count from 9 to 2 in a old cinema animation">  
  <section class="text-center">
        <h1 class="display-1 fw-bold text-info">404</h1>
        <p class="fs-3"> <span class="text-warning">Opps!</span> Page not found.</p>
        <p class="lead">
            The page you’re looking for doesn’t exist.
          </p>
        <a routerLink="/home" class="btn btn-dark">Go Home</a>
        </section>
</section>

<app-footer></app-footer>