<nav>
    <!-- Buttons to go to the previous page -->
    <section>
        <button (click)="onPageClicked(0)"><span> << </span></button>
        <button (click)="onPreviousClicked()"><span> < </span></button>    
    </section>

    <!-- Buttons to navigate on number of pages -->
    <section>
        <button 
            (click)="onPageClicked(index)"
            *ngFor="let i of [].constructor(10), let index = index" 
            [ngClass]="{'selected': index === selection}" >
            <span>{{index+1}}</span>
        </button>
    </section>

    <!-- Buttons to go to the next page -->
    <section>
        <button (click)="onNextClicked()"><span> > </span></button>
        <button (click)="onPageClicked(9)"><span> >> </span></button>    
    </section>
</nav>
