nav {
    background: transparent;
    width: 90%;
    height: 90%;
    position: relative;
    top: 0;
    left: 0;
    height: 10%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: center;
    padding-left: 10%;
    padding-top: .5%;
}

section{
    display: flex;
    justify-content: center;
}

section:nth-child(1) {
    justify-content: flex-end;
}

section:nth-child(1) button {
    width: 50px;
    margin-left: 1px;
}

section:nth-child(2) {
    justify-content: space-around;
}

section:nth-child(3) {
    justify-content: flex-start;
}

section:nth-child(3) button {
    width: 50px;
    margin-right: 1px;
}

button {
    border: 0;
    background-image: linear-gradient(
        150deg,
        #9500ff,
        #09f,
        #00DDFF
    );
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-size: 12px;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
    margin: 4px;
    width: 30px;
    height: 30px;
}

button span{
    background-color: #111;
    padding: 3px 3px;
    border-radius: 6px;
    transition: .3s;
    height: 100%;
    width: 100%;
    text-align: center;
}

button:hover span{
    background: none;
}

button:active {
    transform: scale(0.9);
}
