form{
    width: 100vw;
    justify-self: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
}

form .row{
    width: 80%;
    // background-color: violet;
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // justify-content: center;
}

input, select {
    backdrop-filter: blur(6px);
}

.sec-submit {
    // background-color: blue;
    display: flex;
    justify-content: flex-end;
}
// .row section, .row section section{
//     width: 80%;
//     justify-self: center;
// }

figure{
    position: absolute;
    width: 30px;
    height: 500px;
    clip-path: polygon (50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    background-color: white;
    // transform: translate(0px, -25px);
}

figure:hover, figure:hover + * {
    background-color: yellow;
}

.fig-search {
    transform: translate(170px, 0px);
}

.fig-filter {
    transform: translate(550px, 0px);
}

.fig-order {
    transform: translate(900px, 0px);
    background: cyan;
}

