form{
    width: 80vw;
    justify-self: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    box-shadow: 10px 10px 5px grey;
    // border: 1px solid white;
    background: rgba(255, 255, 255, .5);
    font-size: 16px;
    // backdrop-filter: blur(6px);
    // box-shadow: 10px 10px 10px 0 rgba(255, 255, 255, .5);
    box-shadow: 10px 10px 10px 0 #ff8602;

}

p {
    font-size: 14px;
}

input, select {
    backdrop-filter: blur(6px);
    width: 25vw;
}

select {
    width: 20vw;
}

button {
    width: 20vw;
    height: fit-content;
    align-self: flex-end;
}

.order {
    width: 70%;
}

label .badge {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    background: grey;
}

.sec-submit {
    display: flex;
    justify-content: flex-end;
}

.offcanvas {
    height: 100vh;
    transform: translate(-50vw, 0px);
    // position: absolute;
    // top: 0;
    // left: 0;
    // opacity: 1;
    // z-index: 100;
    background: dark;
}

.offcanvas button {
    width: 20%; 
    transform: translate(10%);
    margin: 10px;
}

.order {
    width: 100%;
}

.offcanvas-body::-webkit-scrollbar {
    -webkit-appearance: none;
}

.offcanvas-body::-webkit-scrollbar:vertical {
    width:5px;
}

.offcanvas-body::-webkit-scrollbar-button:increment, .offcanvas-body::-webkit-scrollbar-button {
    display: none;
} 

.offcanvas-body::-webkit-scrollbar:horizontal {
    height: 10px;
}

.offcanvas-body::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.offcanvas-body::-webkit-scrollbar-track {
    border-radius: 10px;  
}
