form{
    width: 80vw;
    justify-self: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    box-shadow: 10px 10px 5px grey;
    border: 1px solid white;
    background: rgba(255, 255, 255, .6);
    font-size: 16px;
    // backdrop-filter: blur(6px);
}

p {
    font-size: 14px;
}

input, select {
    backdrop-filter: blur(6px);
    width: 25vw;
}

select {
    width: 20vw;
}

button {
    width: 20vw;
    height: fit-content;
    align-self: flex-end;
}

.order {
    width: 70%;
}

label .badge {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    background: grey;
}

.sec-submit {
    // background-color: blue;
    display: flex;
    justify-content: flex-end;
}
// .row section, .row section section{
//     width: 80%;
//     justify-self: center;
// }

.offcanvas {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    background: dark;
}

.offcanvas button {
    width: 20%; 
    transform: translate(10%);
    margin: 10px;
}

.order {
    width: 100%;
}

figure{
    position: absolute;
    width: 30px;
    height: 500px;
    clip-path: polygon (50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    background-color: white;
    // transform: translate(0px, -25px);
}

figure:hover, figure:hover + * {
    background-color: yellow;
}

.fig-search {
    transform: translate(170px, 0px);
}

.fig-filter {
    transform: translate(550px, 0px);
}

.fig-order {
    transform: translate(900px, 0px);
    background: cyan;
}
