/* You can add global styles to this file, and also import other style files */
* {
    --color-contrast: black;
    // --color-contrast: #B5D1FB;
    --color-bg: white;
    --height-navbar: 50px;
    --height-footer: 35px;
    --long-cable: 70px;
    --width-cable: 2px;
    --height-lamp: 20px;
    --width-lamp: 50px;
    --width-light: 400px;
    --width-poster: 154px;
    --height-poster: 231px;
    --height-overlay: calc(var(--height-poster)/3);

    margin: 0;
    // background-color: var(--color-bg);
    // color: var(--color-contrast);
    // background-color: var(--color-bg);
    // background-color: #F2F2F2;
    background-color: transparent;
    box-sizing: border-box;
    // width: 100%;
    // height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}