main {
    background: url('../../../assets/film-lamps.png') no-repeat;
    // background: url('../../../assets/cinta_0.png') no-repeat;
    background-size: 100% auto;
    // background-color: #B5D1FB;
    background-color: #bcc1c4;
    position: absolute;
    top: 0px;
    width: 100%;
    // max-width: 1000px;
    // height: calc(100vh - 55px - 30px);
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 6fr;
    justify-content: center;
    flex-flow: row wrap;
    padding-top: 50px;
    left: 0;
}

article{
    width: 80vw;
    height: 61vh;
    justify-self: center;
    margin-bottom: 5vh;
    // align-self: flex-end;
    z-index: 1;
    background: rgba(255, 255, 255, .3);
    backdrop-filter: blur(6px);
    box-shadow: 10px 10px 10px 0 lightgoldenrodyellow;
    padding: 20px 20px 10px 10px;
}
