main {
    // background: url('../../../assets/cinta_0.png') no-repeat;
    // background-size: 11% 100%;
    // background-color: #B5D1FB;
    background-color: #bcc1c4;
    position: absolute;
    top: 0px;
    width: 100%;
    // height: calc(100vh - 55px - 30px);
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 6fr;
    justify-content: center;
    flex-flow: row wrap;
    padding-top: 100px;
    left: 0;
}

article{
    height: 60vh;
    width: 80%;
    justify-self: center;
}

app-options{
    width: 100vw;
    justify-self: center;
    background: red;
    display: flex;
    justify-content: center;
    // display: grid;
    // justify-content: space-between;
}